.spice__category {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.coming__soon__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 96px);
}

.border__image {
    background: linear-gradient(#0001, #000);
}
.whole__spices {
    background-size: cover;
    background-position: center center;
    background-image: url("./assets/images/WholeSpicesThumbnail.jpg");
    background-repeat: no-repeat;
}

.spices__powder {
    background-size: cover;
    background-position: center center;
    background-image: url("./assets/images/SpicesPowderThumbnail.jpg");
    background-repeat: no-repeat;
}